<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist Page</title>
</head>
<body>
    <!-- Hero Section -->
    <section>
        <div>
            Musicans
        </div>
    </section>

    <!-- card Section -->
     <section>
        {{range .}}
        <div id="{{.ID}}">
            <img src="{{.Image}}" alt="Band Image">
            <h3>{{.Name}}</h3>
        </div>
        {{else}}
        <div>
            <p>No artist found</p>
        </div>
        {{end}}
    </section>
</body>
</html>